node_modules
.env
logs
prisma/migrations
uploads/avatars/*.jpg
uploads/avatars/*.png
uploads/avatars/*.jpeg
uploads/avatars/*.heic
uploads/transactions/*.jpg
uploads/transactions/*.png
uploads/transactions/*.jpeg
uploads/transactions/*.heic